.collapse__dropdown {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    align-items: center;
}

.about {
    justify-content: center;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {

    
}