.collapse {
    display: flex;
    flex-direction: column;
    width: 80%;
    
    .hidden {
        display: none;
    }

    .chevronValue {

        img {
        width: 25px;
        height: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;
        }
    
        .rotate {
            transform: rotate(180deg);
        }
    
    }
}


.visible_collapse {
    position: relative;
    font-size: 18px;
    color: black;
    background-color: #FBFBFB;
    border-radius: 5px;

    ul {
        padding: 0px 27px 19px 18px;
        margin-left: 0;
        text-align: start;
        list-style-type: none;
    }

    p {
        padding: 0px 27px 19px 18px;
        margin-left: 0;
        text-align: start;
    }
}


.collapse__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 28px;
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    align-items: center;

    span {
        padding-right: auto;
    }
}