body {
  margin: 0;
  padding-left: 10;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 0 5%;
      max-width: 1240px;
    }
}

code {
  font-family: 'Montserrat';
}

