.logement {
    margin-left: -5%;
    margin-right: -5%;
}

.logement_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    
}

h2 {
    margin: 0;
    padding: 0;
}

.logement_title {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.logement_location {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.logement_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.logement_tags {
    display: flex;
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    margin-right: 10px;
    min-width: 115px;
    height: 25px;
}

.logement_all_tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.logement_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.host_name {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
}

.host_picture {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    display: flex;
}

.host_identity {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.logement_and_host {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.stars {
    display: flex;
    font-size: 25px;
    width: 110px;
    gap: 10px;
    margin-right: 40px;
}

.star_lighted {
    color: #FF6060;
}

.star_dimmed {
    color: #E3E3E3;
}

.logement_tags_and_stars {
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    
}

.collapsibles {
    display: flex;
    gap: 5%;
    margin-bottom: 40px;
}

.visible.collapse {
    .Equipements {
        content: attr(data-items);
        display: block;
        white-space: pre-wrap;
    }
}

@media (max-width: 768px) {
    .logement_content {
        display: flex;
        flex-direction: column-reverse;
    }

    .logement_tags_and_stars {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;

        .logement_tags {
            font-size: 10px;
            min-width: 84px;
            height: 18px;
            margin-right: 4px;
        }

        .logement_title {
            font-size: 18px;
        }

        .logement_location {
            font-size: 14px;
        }
    }

    .logement_and_host {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        width: 100%;
        
            .host_name {
                font-size: 12px;
            }

            .host_picture {
                height: 32px;
                width: 32px;
            }
    }

    .stars {
        font-size: 13px;
    }

    .slider_number {
        display: none;
    }

    .collapsibles {
        display: flex;
        flex-direction: column;
    }
}